{% extends "Examinations/base.html" %}
{% block content %}
    {% for paper in paper %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ paper.Title }}</a>
            <small class="text-muted">{{ paper.Code }}</small>
        </div>
            <p class="article-content">Year {{ paper.Year }} Semester {{paper.Sem}}</p>
        </div>
  </article>
    {% endfor %}
{% endblock content%}